html {
  scroll-behavior: smooth;
	} 
body {background:#eff1f4;}	
 
.header-text {
    background-color: #3385ff;
    padding: 12px 16px;
    margin: 0 0 8px  0;
    border-bottom: solid 1px #dce3e5;
    border-top: solid 1px #dce3e5;
    box-sizing: border-box;
    width: 100%;
    }

 
.header-text h1 {
    color: #fff;
    font-size: 2.5em;
    font-weight: 700;
    }
	
section > h3 {
	font-weight: 900;
	font-size: 1.3em;
	margin: 1.25em 0;
}
	

p {color: #313131; font-size: 1em;}
	
.content {
    background: #ffffff;
    margin: 0 auto;
    padding: 2.5em 2em;
    margin-top: 2em;
    margin-bottom: 10px;
}	
.quest {font-weight:700;}
.content > section {margin-bottom: 1em;} 

.card-body img {
    display: flex; 
    margin: 0 auto; 
    margin-bottom: 30px;
}
.card h3 {
    font-size: 1.25em;
    margin-bottom: 0em;
    font-weight: 700;
    color: #707070;
    text-decoration: none;
}

.card  h3:hover {text-decoration:none; 
    color: rgb(0, 115, 199);}
.card-header {
    background-color: #fff;
    padding: 1.5rem 1.25rem;
    }
	
.btn-link:hover { 
    text-decoration: none;
}

ul.other-link {
    padding-left: 0px;
    margin-top: 10px;
    }
.other-link  li  {list-style-type:none;padding: 5px 0px;}

.footer {margin-top:1em;}

@media only screen and (max-width: 600px) {
    .content {
        padding: 1em .55em;
        width: 100%;
        margin-top: 0px;
    }
}